@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}
#__next {
  flex: 1 1 auto;
}
body{
    position: relative;
}
p{
    margin: 0;
}
i{
    cursor: pointer;
}
.body-lg{
    position: fixed;
    width: 100vw;
}
:root{
    --web-grey:#202427;
    --web-gold:#E2C76E;
}
.relative-body{
    position: relative;
}
.mg{
    margin-top: 64px;
}
.pd{
    padding: 0px !important;
}
.pd-0{
    padding: 0px !important;
}
.gold-color{
    color: var(--web-gold);
}
.global-btn-1{
    color: var(--web-gold);
    border: 2px solid var(--web-gold);
    padding: 10px;
    width: 300px;
    border-radius: 400px;
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(rgb(44, 44, 44) , black);
}
#myTab{
    margin-top: 8px !important;
}
.global-btn-2{
    color: var(--web-gold);
    border: 2px solid var(--web-gold);
    padding: 15px;
    width: 400px;
    border-radius: 400px;
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(rgb(44, 44, 44) , black);
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.global-btn-2 span{
    flex: 1;
}

.global-btn-3{
    color: black;
    border: 2px solid #FDDD86;
    border-radius: 400px;
    font-size: 18px;
    padding: 5px  40px;
    background-image: linear-gradient(-90deg,#af9040,#FDDD86);
    font-weight: bold;
    margin-left: 0px;
    margin-top: 10px;
    margin-right: 20px;
}
 /* haeader */
 .collapse{
    justify-content: end;
    margin-right: 15px;
 }
 .collapse ul li{
    padding:0px 15px;
 
 }
 .collapse ul li a{
    color: #95A2AC !important;
    font-size: 14px;
 }
 .navbar{
    background-color: #202427 !important;
 }
 .navbar img{
     padding-left: 25px !important
 }
 .bg-color-nav{
    background-color: #202427 !important;

 }
 .f-right{
    display: flex;
    float: right;
    right: 25px;
 }
 .list-for-list li{
    padding: 5px 28px !important;
 }
 .list-for-list li a{
     color:#95A2AC !important ;
     text-decoration: none;
 }
 .list-for-list li:last-child{
padding: 0px !important;
 }
.header-control{
    background-color: var(--web-grey);
    color: white;
    display: flex;
    align-items: center;
    padding:14px;
}
.MuiSvgIcon-root{
    left: 315px !important;
}
.MuiList-root{
display: flex;
flex-direction: column !important;
width: 50vw !important;
align-items: flex-start !important;
padding-left: 20px !important;
} 
.MuiTabs-flexContainer ul{
    list-style: none !important;
}
.muitabs{
    display: grid !important;
    width: 50vw !important;
}
.header-control h5{
    flex: 1;
    margin: 0;
    letter-spacing: 2px;
    text-align: center;
}
.header-control .gold-icon{
    font-size: 30px;
    color:var(--web-gold) ;
    cursor: pointer;
}
.header-control img{
    width: 35px !important;
}
.logo-icon-nav{
    width: 20px !important;
}

/* profile carousel css */
.h-c-g{
    background: var(--web-gold);
    /* margin-top: 64px; */
}
.h-c-g i{
    color: black !important;
}
.h-c-g h5{
 text-align: left !important;
 flex: unset !important;
 width: 100px;
 padding: 5px;
 margin-left: 270px;
 color: black;
 font-weight: 700 !important;
}
.profile-body{
    background-image: url(../images/texture-01.PNG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} 
.user-badge{
    display: flex;
    flex-wrap: wrap;
}
.user-info-text{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.user-info-text p{
    font-size: 19px;
    font-weight: 300;
}

.user-info-slider .carousel-item img{
    height: 100%;
}
.user-info-slider .carousel-item{
    height: 100%;
}
.user-info-slider .carousel-indicators{
    margin-bottom: 70px;
}
.user-info-slider  .carousel-indicators li{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
}
.user-info-slider  .carousel-indicators li.active{
    background-color: white;
    border: 2px solid white;
}
.user-img-parent-div{
    position: relative;
    height: 85vh;
}
.user-info-slider{
    height: 100%;
}
.carousel-inner{
    height: 100%;
}
.about-intrest{
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.719);
    width: 100%;
    z-index: 2;
}
.about-intrest div{
    display: flex;
    justify-content: space-between;
}
.about-intrest .nav-link{
    color: lightgray;
    text-transform: uppercase;
    flex: 1;
    text-align: center;
    font-size: 18px;
}
.about-intrest .nav-link.active{
    color: var(--web-gold) !important;
    background-color: transparent !important;
    border: none !important;
    border-bottom: 4px solid var(--web-gold) !important;
}
.about-tab{
    width: 100%;
    background-image: url('../images/texture-01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding-top: 30px ;
    padding-bottom: 70px ;
    position: relative;
    height:calc(100vh - 200px);
    padding-top:60%;
    overflow-y: scroll;
}
.about-tab h3{
  font-weight: 700;
}
.col-lg-5{
    width: unset !important;
} 
.sticky-nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 100;
    background-color: #202427;
    color: rgb(109, 109, 109);
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sticky-nav a{
    color: rgb(109, 109, 109);
}
.sticky-nav .active{
    color: var(--web-gold);
    font-size: 28px;
}



/* light box css */
#lightbox{
    position: fixed;
    top: 0 ;
    z-index: 200;
    width: 100%;
    height: 100vh;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     display: none;
     background-color: rgba(0, 0, 0, 0.575);
}


#lightbox img{
    width: 90%;
    max-height: 90%
}
#lightbox i{
    color: white;
    width: 100%;
    text-align: right;
    font-size: 20px;
    padding-right: 30px;
}


/* login css */
#login-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/texture-01.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

#logo{
    bottom: 0 !important;
    right: 0 !important;
    box-sizing: border-box !important;
    padding: 0 !important;
    border: none !important;
    margin: 0;
    width: 0;
    height: 0;
    min-width: unset !important;
    max-width: unset !important;
    min-height: unset !important;
    max-height: unset !important;
    width: 150px !important;
    z-index: 3 !important;
    height: 157px !important;
}
.div-curve h2{
    z-index: 3;
    padding-top: 0px;
}
.color-text{
    color: black !important;
    z-index: 3;
}
.div-curve span{
    z-index: 3;
    font-size: 18px;
    font-weight: 600;
    
}
.div-curve span:first-child span img{
    width: 39% !important;
}

.div-curve{
    background-color: var(--web-gold);
    background-image: url("../images/login-bg-2.png");
    background-size: 120%;
    background-repeat: no-repeat;
    width: 110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: hidden; 
     border-radius: 0 0 50% 50%/0 0 100% 100%;
    padding: 70px;
}

.div-curve:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgb(194 179 75 / 53%);
  }

/* for image cureve only  */
.div-curve{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
    padding-top: 10%;
} 
.div-curve .overlay{
    width: 100vw !important;
    margin-left: calc(5vw) !important ;
    position: absolute !important;
    top: -70px !important;
    left: 0 !important;
    opacity: .3 !important;
}

/* for image cureve only  */
 .div-curve .overlay{
    width: 100vw;
    top: -70px;
    height:500px;
    left: 0;
    position: absolute;
} 
.footer-text{
    width: 500px;
    text-align: center;
    font-size: 14px;
    color: rgb(233, 233, 233);
    margin-top: 50px;
    padding: 0 10px;
    padding-bottom: 20px;

}
.footer-text a{
    color: var(--web-gold);
}



/* chat css  */

.chat-headers{
    width: 100%;
    background: #202427;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 8px;
}
.msg-header{
    padding: 7px 10px;
}
.user-list {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
    transition: .2s;
    position: relative;
}
.user-list small{
    position: absolute;
    right: 20px;
    top: 15px;
}
.user-list:hover {
    background-color: lightgray;
}
.user-list img{
    width: 80px !important; 
    border-radius: 50%;
    
}
.scr-msg{
    border-right: 1px solid lightgray;
    height: calc(100vh - 170px);
    overflow-y: scroll;
    padding-bottom: 80px;
    
}
.scr-msg a{
    color: unset;
}
.scr-msg a:hover{
    text-decoration: none;
}
.scr-msg::-webkit-scrollbar{
    appearance: none;
    width: 5px;
}
.scr-msg::-webkit-scrollbar-thumb{
    background: lightgray;
}
.chat-list-text{
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    flex:1;
}
.chat-list-text i{
    font-size: 19px;
    color: lightgray;
}
.user-list:hover i{
    color: gray;
}
.chat-list-text div{
    display: flex;
    flex-direction: column;
}
.chat-area-color{
    /* background-color: #0178BD !important; */
}

/* chat area */
.scr-cht{
    /* background: #373A3F; */
    /* background-color: #0178BD !important; */
    background-image: url(../images/texture-01.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: calc(100vh - 177px) !important;
    overflow-y: scroll;
    position: relative;
}
.scr-cht::-webkit-scrollbar{
    appearance: none;
    width: 5px;
}
.scr-cht::-webkit-scrollbar-thumb{
    background: rgb(138, 138, 138);
}
.bubble-1 {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    background: var(--web-gold);
    border-radius: 25px;
    padding: 3px 15px;
    text-align: center;
    color: #000;
    max-width: 70%;
    min-width: 200px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: inline-flex;
  }
.bubble-1 span{
  width: 100%;
  word-break: break-all;
text-align: left !important

}
.bubble-1 small{
  color: grey;
}

.bubble-1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 12px solid var(--web-gold);
  border-right: 6px solid transparent;
  border-top: 6px solid var(--web-gold);
  border-bottom: 10px solid transparent;
  right: 20px;
  bottom: -15px;
  transform: scaleX(-1);
}
.bubble-2 {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    background: white;
    border-radius: 25px;
    padding: 3px 15px;
    text-align: center;
    color: #000;
    max-width: 70%;
    min-width: 200px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: inline-flex;
  }
.bubble-2 span{
  width: 100%;
  word-break: break-all;
text-align: left !important

}
.bubble-2 small{
  color: grey;
  text-align: right !important;
}

.bubble-2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 12px solid white;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  border-bottom: 10px solid transparent;
  left: 20px;
  bottom: -15px;
}
.msg-right{
    text-align: right ;
    padding: 20px 20px;
}
.msg-right small{
    text-align: right !important       
    }
.msg-left small{

}
.msg-left{
    text-align: left;
    padding: 20px 20px;
    display: flex;
   align-items: flex-end; 
}
.msg-left img{
   width: 40px !important;
   margin-right: 10px !important;
   border-radius: 5px;
}
.chat-time{
    width: 100%;
    text-align: center;
    color: rgb(145, 145, 145);
    padding: 10px;
}
.chat-time-color{
    color:  rgb(255, 255, 255) !important;
}

.chat-send-area{
    position: sticky;
    left: 0;
    bottom: 0px;
    z-index: 2;
    background: linear-gradient(#141517 , #202427);
    width: 100%;
    padding: 20px;
    padding-top: 9px;
    padding-bottom: 4px;
    display: flex;
    align-items: center;
}
.chat-send-area .fa-paperclip{
    transform: scaleX(-1);
    font-size: 24px;
    color: var(--web-gold);
    padding:0 15px;
}

.chat-send-area .send{
   display: flex;
   align-items: center;
   border: 2px solid var(--web-gold);
   padding: 7px;
   border-radius: 200px;
   background: #373A3F;
   flex: 1;
}
.chat-send-area .send input{
   flex: 1;
   background: transparent;
   border: none;
   color: white;
   font-size: 18px;
   padding: 0 20px;
}
.chat-send-area .send i{
   color: #755601;
   font-size: 18px;
   background: var(--web-gold);
   border-radius: 50%;
   padding: 7px 9px;
   border:2px solid #755601;
}

.coin-area{
    width: 100%;
    background:#202427;
    color: #FDC613;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
}
.coin-area img{
   width: 60px !important;
}
.coin-area span{
   font-weight: 600;
   font-size: 22px;
   padding: 0 5px;
}
.header-control-msg h5{
    margin-left: 0px !important;
    margin-right: 350px;
}
.header-control-msg div{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}



/* search css */
.header-gold{
    background-image: linear-gradient(-90deg,#af9040,#FDDD86);
}
.header-gold h5{
    font-weight: 700;
    color: black;
    font-size: 16px;
    letter-spacing: 2.5px;
}
.header-gold i{
    font-weight: 700;
    color: black;
    font-size: 30px;
}
.search-tab{
    background: #1A2529;
    width: 100%;
    display: flex;
}
.search-tab .nav-item{
    flex: 1;
}
.search-tab .nav-link{
    color: rgb(161, 161, 161);
    width: 100%;
    text-align: center;
    font-weight: 600;
    padding: 10px;
}
.search-tab .nav-link.active{
    background: transparent !important;
    color: var(--web-gold) !important;
    border: none !important;
    border-bottom: 3px solid var(--web-gold) !important;
    
}
.nav-link:hover, .nav-link:focus {
    color: rgb(161, 161, 161) !important;
}
.user-search-area{
    width: 100%;
    background-image: url(../images/texture-01.PNG);
    min-height: calc(100vh - 151px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom:50px;
}
.search-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.search-items img{
    border-radius: 50%;
    width: 90%;
    border: 4px solid var(--web-gold) !important;
}
.search-items span{
  font-weight: 600;
  font-size: 19px;
  background: #e2c76ed7;
  width: 90%;
  text-align: center;
  border-radius: 300px;
  padding: 15px;
  margin-top: -20px;
  z-index: 1;
}

/* buy chat coin css */
.buy_coin_headeing{
    font-weight: 700;
    color: var(--web-gold);
}
.buy-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    background-color: #373A3F;
    min-height: 100vh;
    
    padding-bottom: 70px;
}
.coin-parent{
    width: 100vw;
    background-color: #1D2025;
    display: flex;
    color: var(--web-gold);
    padding: 10px;
    border: 3px solid #141517;
}

.coin-parent .coin-left span{
    font-size: 35px;
    font-weight: bold;
    padding-left: 5px;
}
.coin-parent .coin-left small{
    font-weight: bold;
}
.coin-parent .coin-right strike{
    font-weight: bold;
    font-size: 20px;
}
.coin-parent .coin-right span{
    font-weight: bold;
    color: var(--web-grey);
    font-size: 30px;
    background-color: var(--web-gold);
    border-radius: 50%;
    /* padding: 18px 22px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    position: relative;
}
/* .coin-parent .coin-right span::after{
    content: "";
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--web-gold);
} */
.coin-parent .coin-right span small{
    font-weight: bold;
    color: var(--web-grey);
    font-size: 15px;
    background-color: var(--web-gold);
}



/* ------ */
.search-card{
    background-image: linear-gradient(-90deg,#cfab50,#FDDD86);
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #f5e1a0;
    width: 85%;
    margin: 0 auto;
}
.search-card-img{
    border: 2px solid #f5e1a0;
    width: 40%;
    background-color: var(--web-grey);
    border-radius: 50%;
    padding: 10px;
    margin-top: 10px;
}
.search-card-img img{
    width: 100%;
}
.search-card h3{
    font-weight: bold;
    padding-top: 20px;

}
.search-card strong{
    text-align: center;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 20px;
}
.top-header{
    background-color: var(--web-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: end;
    padding: 0px 10px !important;
}

.MuiToolbar-root span img:first-child{
    width: 30px !important;
    float: left;
}
.MuiBox-root button{
    color: #95A2AC !important;
    padding: 0 30px !important;
    font-size: 14px;
}
.MuiBox-root button:last-child{
  background-color: var(--web-gold);
  color: black !important;
  padding: 6px 12px !important;
    width: 100px;
    border-radius: 4px;
}
.top-header ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-header .button-1{
    color: #eceded;
    background-color: #24e5af;
    border: 0;
    padding: 5px 0px;
    width: 100px;
    border-radius: 4px;
    margin: 0 5px;
}
.top-header .signup{
    background-color: var(--web-gold);
    color: black;
}
/* }

/* chat responsive  */
.msg-header-res{
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 17px;
    letter-spacing: 2px;
}
.chat-send-area .send input{
    width: 10px;
}
.scr-cht{
    height: calc(100vh - 165px) !important;
}
.chat-header-res{
    font-size: 19px;
    padding: 0px;
}
.carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
  }
/* bootstrap navBar */
.Navbar-font {
  background-color: #ffffff;
  height: 60px;
}
.header-item {
  position: absolute;
  right: 100px;
  align-items: center;
}
.header-item a {
  color: #434f56 !important;
  text-decoration: none;
  padding: 0px 20px;

}
.header-item a:hover {
  color: #176ea5 !important;
}
.header-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: #fe7a39;
  border-radius: 100px;
  padding: 0px 30px !important;
  height: 34px;
  margin-left: 50px;
  text-align: center;
  color: #ffffff !important;
}
.header-item a:last-child {
  color: #fff !important;
}

/*  Responsive-NavBar */
.mobile-responsive {
  background: #ffffff;
}
/* header changes */
.top-header img{
    width: 25px;
}
.header-control img{
    width: 25px;
}
.header-gold i,
.header-control .gold-icon {
    font-size: 20px;
}
.header-gold h5{
    font-size:14px !important;
}
.header-control h5{
    font-size:14px !important;
}
.header-control {
    padding: 10px;
}
.top-header {
    padding: 10px;
}
.top-header a{
    font-size: 14px;
}
.top-header .signup{
    font-size: 14px;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler span{
    color: black !important;
    background-image: unset !important;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: var(--web-gold);
    border-radius: 4px;
    padding: 10px 15px;
}
.active-class:active{
    color: #E2C76E;
}
/* chat screen conversation  */

.body-sm{
    display: none;
}
.src-chat-mobile{
    height: calc(100vh - 113px) !important;
}
/* login box */
.ep-box{
    color: black;
    border: 2px solid #FDDD86;
    background: #000;
    padding: 0.9rem 2rem 2rem 2rem;
    border-radius: 20px;
    width: clamp(400px, 400px, 90%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.ep-box label{
    text-align: center;
    color: #FDDD86 ;
}
.ep-box input{
    background-color: #000;
    color: #FDDD86;
    border-color: transparent;
    padding: 0.5rem 0.5rem;
    border-bottom: 2px solid #FDDD86;
    border-radius: 10px;
}
.ep-box input::placeholder{
    color: #FDDD86;
    text-transform: uppercase;
    font-weight: 500;
}
.ep-box .btn{
    margin-top: 0.5rem;
    border: 1px solid #FDDD86;
    color: #FDDD86;
    text-transform: uppercase;
    font-weight: 600;
}
.ep-box .btn:hover{
    background: #ffce48;
    color: #000000;
    font-weight: 600;
}



/* media querys */




@media  (min-width: 350px) and (max-width: 600px) {
  .display{
      display: flex !important;
      --bs-gutter-x: 0rem !important;
  }   
  .display-d{
      display: none !important;
  }
  .navbar-toggler {
      margin-right: 10px;
  }
  .header-control-msg div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 93%;
    margin-left: 151px !important;
    margin-right: 58px;
    width: 100%;
}
.h-c-g h5 {
    text-align: left !important;
    flex: unset !important;
    width: 100px;
    padding: 5px;
    margin-left: 136px;
    color: black;
    font-weight: 700 !important;
}
.div-curve {
    width: 149%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
    padding-top: 0%;
}
.about-tab {
    width: 100%;
    background-image: url(/_next/static/media/texture-01.68ab5ddd.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding-top: 30px;
    padding-bottom: 70px;
    position: relative;
    height: calc(100vh - 200px);
    padding-top: 15%;
    overflow-y: scroll;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: unset;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none; 
}
.sticky-nav {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 100;
    background-color: #202427;
    color: rgb(109, 109, 109);
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header-control img {
    width: 20px !important;
    padding-right: 1px !important;
}
.header-control {
    padding: 10px 10px !important;
}
.header-control-msg h5 {
    margin-left: 0px !important;
    margin-right: 275px;
}
  .scr-cht {
    height: calc(100vh - 123px) !important;
}
  .bubble-1 {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 21px;
    background: var(--web-gold);
    border-radius: 25px;
    padding: 0px 16px;
    text-align: center;
    color: #000;
    max-width: 70%;
    min-width: 145px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: inline-flex;
}
.msg-right small {
    text-align: right !important;
    font-size: 13px;
}
.bubble-1 span {
    width: 100%;
    word-break: break-all;
    text-align: left !important;
    font-size: 15px;
    padding: 1px 8px;
}
.bubble-2 {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 14px;
    background: white;
    border-radius: 25px;
    padding: 10px 13px;
    text-align: center;
    top: 4px;
    margin-inline: 5px;
    color: #000;
    max-width: 70%;
    min-width: 145px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: inline-flex;
}
.bubble-2 small {
    color: grey;
    text-align: right !important;
    font-size: 13px;
}
.msg-left img {
    width: 40px !important;
    padding-right: 0px !important;
    border-radius: 20px;
    margin-right: 0px !important;
}
.user-list img {
    width: 40px !important;
    border-radius: 50%;
}
.user-list small {
    position: absolute;
    right: 9px;
    top: 50px;
    font-size: 6px;
}
.chat-list-text strong{
    font-size: 10px;
}
.chat-list-text span{
    font-size: 7px;
}
.chat-list-text {
    display: flex;
    padding: 0 3px;
    align-items: center;
    justify-content: space-between;
    flex: 1 1;
}
.user-list {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 2px;
    transition: .2s;
    position: relative;
}
.chat-send-area {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    bottom: 0px;
    z-index: 2;
    background: linear-gradient(#141517 , #202427);
    width: 100%;
    padding: 20px;
    padding-top: 8px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
}
.footer-text {
    width: 500px;
    text-align: center;
    font-size: 14px;
    color: rgb(233, 233, 233);
    margin-top: 88px;
    padding: 0 52px;
    padding-bottom: 20px;
}
  }
  @media   (min-width: 600px) and (max-width: 968px) {
    /* For desktop: */
  .display{
      display : flex !important;
      --bs-gutter-x: 0rem !important;

  }
  .display-d{
      display: none !important;
  }
  .scr-cht {
    height: calc(100vh - 152px) !important;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none; 
}
.user-list small {
    position: absolute;
    right: 6px;
    top: 79px;
    font-size: 9px;
}
.msg-left img {
    width: 40px !important;
    margin-right: 3px !important;
    border-radius: 25px;
}
.user-list img {
    width: 60px !important;
    border-radius: 50%;
}
.chat-list-text span{
    font-size: 12px;
}
.bubble-1 {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 21px;
    background: var(--web-gold);
    border-radius: 25px;
    padding: 2px 25px;
    text-align: center;
    color: #000;
    max-width: 53%;
    min-width: 170px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: inline-flex;
}
.msg-right small {
    text-align: right !important;
    font-size: 13px;
}
.bubble-1 span {
    width: 100%;
    word-break: break-all;
    text-align: left !important;
    font-size: 15px;
}
.bubble-2 {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 25px;
    background: white;
    border-radius: 25px;
    padding: 0px 15px;
    text-align: center;
    color: #000;
    max-width: 70%;
    min-width: 170px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: inline-flex;
}
.msg-left small {
    font-size: 13px;
}
.bubble-2 span {
    width: 100%;
    word-break: break-all;
    text-align: left !important;
    font-size: 15px;
}
  }
  @media  (min-width: 968px) and  (max-width: 1280px) {
.display-d{
    display: flex !important;
    }  
.display{
    display: none !important;
}
.header-control-msg h5 {
    margin-left: 0px !important;
    margin-right: 555px;
}
.h-c-g h5 {
    text-align: left !important;
    flex: unset !important;
    width: 100px;
    padding: 5px;
    margin-left: 555px;
    color: black;
    font-weight: 700 !important;
}
.msg-left img {
    width: 40px !important;
    margin-right: 3px !important;
    border-radius: 25px;
}
.footer-text {
    width: 497px;
    text-align: center;
    font-size: 14px;
    color: rgb(233, 233, 233);
    margin-top: 46px;
    padding: 0px 18px;
    padding-bottom: 60px;
}
}

